header {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1000;

    nav img {
        height: 80px;
        margin: 10px 10px 10px 10px;
    }
    nav div div ul li:hover {
        font-weight: 600;
    }
}