<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--SEO -->
    <meta name="keywords" content="proyectos, construccion, arandas, jalisco, inmuebles">
    <meta name="description" content="Proyectos destacados.">
    <!-- título -->
    <title>Atelier Arandas | Proyectos</title>
    
    <!-- Link Bootstrap CDN -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- link con css -->
    <link rel="stylesheet" href="../css/compilado.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" href="../assets/favicon.png">
</head>

<body>
    <!-- inicio nav con BOOTSTRAP-->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../assets/logo-sencillo.png" alt="logo atelier">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="galeria.html">Galería</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="proyectos.html">Proyectos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <!-- inicia main -->
    <main>
      <!-- inician cartas de proyectos -->
      <Section class="contenedor-cartas-proyectos">
        <div>
          <div>
            <img src="../assets/bohemia.jpg" alt="torre-bohemia">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-arquitectura">
              Arquitectura
            </h4>
            <p>
              Más de 10 años de experiencia en desarrollo de proyectos arquitectónicos de todas las escalas. Nos encanta ofrecer soluciones funcionales y estéticas que se adapten a tus necesidades y gustos. Colaboraciones con estudio 3.14, 3a, entre otros. 
            </p>
          </div>
        </div>
    
        <div>
          <div>
            <img src="../assets/conceptstore.jpg" alt="conceptstore">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-interiores">
              Diseño de interiores
            </h4>
            <p>
              Desde asesoría hasta proyecto integral de diseño de interiores; nuestra intención es que el espacio que habitas, ya sea tu hogar, oficina o cualquier otro sitio, sea acogedor y esté en armonía para que mejore tu calidad de vida.
            </p>
          </div>
        </div>

        <div>
          <div>
            <img src="../assets/cocineta.jpg" alt="Cocinas SANDERMO">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-cocinas">
              Cocinas SANDERMO
            </h4>
            <p>
              Ofrecemos cocinas de la más alta calidad en asociación con SANDERMO; las mejores cocinas en Guadalajara con más de 50 años de experiencia, ahora con presencia en los Altos, aunque tenemos servicio en toda la república. Contamos con un tiempo de entrega de aproximadamente 3 meses.
            </p>
          </div>
        </div>


        <div>
          <div>
            <img src="../assets/silla.jpg" alt="Mobiliario">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-muebles">
              Mobiliario
            </h4>
            <p>
              Muebles de la mejor calidad que brindan comodidad y calidez a tu hogar. Visita nuestro showroom para conocer más de nuestros muebles, seguro encuentras varios que te encantan, aquí te asesoramos en qué va mejor con tu espacio.
            </p>
          </div>
        </div>

        <div>
          <div>
            <img src="../assets/RAUM_RESTAURANTE_ENCUADRE 3_070722.jpg" alt="Hospitalidad">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-hospitalidad">
              Hospitalidad
            </h4>
            <p>
              Contamos con el mejor equipo de trabajo para desarrollar proyectos de hospitalidad desde restaurantes pequeños hasta hoteles de gran escala. Tenemos servicios desde proyecto conceptual o arquitectónico hasta proyecto integral que incluye arquitectónico, ejecutivo, supervisión de construcción, amueblado y decoración.
            </p>
          </div>
        </div>

        <div>
          <div>
            <img src="../assets/Chapalita Adolfo Navarro.jpeg" alt="consultorias">
          </div>
          <div class="textos-cartas-proyectos">
            <h4 class="texto-consultoria">
              Consultorías
            </h4>
            <p>
              Más de 5 años de experiencia en desarrollo de proyectos de espacio público, movilidad y paisajismo. nos gusta hacer ciudad desde el diseño interior y la arquitectura hasta necesidades de diseño urbano complejas donde ponemos la experiencia del usuario como prioridad. 
            </p>
          </div>
        </div>


      </Section>


    </main>

    <!-- incia footer -->
    <footer>
        <div class="footer-contenedor">
            <span>
                Todos los derechos reservados ©Atelier Arandas 2022
            </span>
            <div class="links-rrss">
                <div>
                    <a href="https://www.instagram.com/atelierarandas/" target="_blank">
                        <img src="../assets/logoinstagram.png" alt="Instagram">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/atelierarandas/" target="_blank">
                        <img src="../assets/logofacebook.png" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
    </footer>

      <!-- script link Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>